* {
  margin: 0px;
  padding: 0px;
  font-family: 微软雅黑;
}
.border {
  border: 1px solid red;
}
body {
  min-width: 1600px;
}
.div5 {
  width: 1349px;
  height: 51px;
  border-bottom: 1px solid #E4E4E4;
  position: absolute;
  top: 163px;
}
.div5 a {
  text-decoration: none;
}
.div5 a span {
  color: #292A37;
  font-size: 12px;
  margin-top: 10px;
}
.div5 a img {
  margin-top: 10px;
  margin-right: 10px;
}
.div5 a img:first-child {
  margin-left: 67px;
}
.div5 span {
  color: #292A37;
  font-size: 12px;
  margin-right: 10px;
}
.div6 {
  width: 1200px;
  height: 114px;
  position: absolute;
  top: 220px;
  left: 67px;
  text-align: center;
}
.div6 span {
  color: #292A37;
  font-size: 30px;
  line-height: 114px;
}
.div7 {
  width: 1200px;
  height: 315px;
  background-image: url("../img/story-visual.jpg");
  position: relative;
  top: 338px;
  left: 67px;
}
.div7 .p1 {
  font-size: 40px;
  color: #292A37;
  margin-left: 118px;
  line-height: 46px;
  padding-top: 100px;
}
.div7 .p2 {
  width: 370px;
  font-size: 14px;
  color: #292A37;
  margin-left: 118px;
  margin-top: 20px;
  line-height: 22px;
}
.div8 {
  width: 1200px;
  height: 60px;
  background: #F7F7F7;
  position: absolute;
  top: 710px;
  left: 67px;
}
.div8 .div9 {
  float: left;
  width: 300px;
  height: inherit;
  font-size: 16px;
  line-height: 60px;
  margin-top: 0px;
  text-align: center;
}
.div8 .div9:first-child {
  margin-left: 150px;
}
.div8 .div9_1 {
  float: left;
  margin-left: -157px;
  margin-top: 43px;
  display: none;
}
.pp {
  font-size: 20px;
  height: 40px;
  position: absolute;
  top: 838px;
  left: 222px;
  color: #106EBB;
}
.imgg {
  position: absolute;
  top: 835px;
  left: 310px;
}
.pp2 {
  font-size: 20px;
  height: 40px;
  position: absolute;
  top: 1390px;
  left: 222px;
  color: #106EBB;
}
.imgg2 {
  position: absolute;
  top: 1385px;
  left: 270px;
}
#div10 {
  width: 708px;
  height: 398px;
  position: absolute;
  top: 918px;
  left: 313px;
  border: 1px solid red;
}
.pp5 {
  font-size: 20px;
  height: 40px;
  position: absolute;
  top: 1830px;
  left: 222px;
  color: #106EBB;
}
.imgg3 {
  position: absolute;
  top: 1825px;
  left: 275px;
}
#div11 {
  width: 960px;
  height: 294px;
  position: absolute;
  top: 1470px;
  left: 222px;
}
#div11 .pp3 {
  font-size: 30px;
  color: #292A37;
}
#div11 .div12 {
  width: 420px;
  height: 200px;
  float: left;
  margin-top: 15px;
  font-size: 14px;
}
#div11 .div12 .pp4 {
  margin-top: 22px;
}
#div11 .div13 {
  float: left;
  width: 450px;
  height: 220px;
  margin-left: 510px;
  margin-top: -185px;
  background-image: url("../img/story-skb.jpg");
  background-size: 450px 220px;
}
.div14 {
  width: 960px;
  height: 388px;
  position: relative;
  top: 1570px;
  left: 222px;
}
.div14 .pp6 {
  font-size: 30px;
  color: #292A37;
  line-height: 34px;
}
.div14 .div15 {
  width: 450px;
  height: 220px;
  background-image: url("../img/story-belief.jpg");
  background-size: 450px 220px;
  margin-top: 40px;
  float: left;
}
.div14 .pp7 {
  float: left;
  width: 420px;
  height: 180px;
  font-size: 14px;
  line-height: 20px;
  color: #292A37;
  margin-top: 40px;
  margin-left: 30px;
}
