* {
  margin: 0px;
  padding: 0px;
  font-family: 微软雅黑;
  color: #292A37;
}
.border {
  border: 1px solid red;
}
.div3_1 {
  position: relative;
  top: 217px;
  width: 1200px;
  margin-left: 65px;
  height: 114px;
  font-size: 30px;
  text-align: center;
  line-height: 114px;
}
.div3_2 {
  position: relative;
  top: 220px;
  left: 65px;
  width: 1200px;
  height: 60px;
  background: #F7F7F7;
}
.div3_2 a {
  text-decoration: none;
  display: inline-block;
  width: 300px;
  height: 60px;
  float: left;
  text-align: center;
  padding-top: 17px;
  position: relative;
}
.div3_2 a .div3_2_1 {
  width: 300px;
  height: inherit;
  float: left;
  font-size: 16px;
}
.div3_2 a .div3_2_2 {
  position: relative;
  top: -35px;
}
